<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1 style="color:blue;" align="center"> welcome to Library Management</h1>
      <table style="color:red;" border="2px solid black" align="center">
      <th>ID</th>
      <th>Name</th>
      <th>AUTHOR</th>
      <th>EDITION</th>
      <th>CATEGORY</th>
      <th>PUBLISHER</th>
      <th>REVIEWS</th>
      <th>AVAILABLE</th>
      <th>ISSUED DATE</th>
      <th>RETURN DATE</th>

      {% for val in book_data %}
          <tr>
              <td>{{val.id}}</td>
              <td>{{val.name}}</td>
              <td>{{val.author}}</td>
              <td>{{val.edition}}</td>
              <td>{{val.category}}</td>
              <td>{{val.publisher}}</td>
              <td>{{val.reviews}}</td>
              <td>{{val.available}}</td>
              <td>{{val.issued_date}}</td>
              <td>{{val.return_date}}</td>
          </tr>

      {% endfor %}

      </table>
</body>
</html>